//
   Created by rbwilliams on 30/06/2016.
.jumbotron
    .row
        .col-lg-12
            h2(class="h2") Descriptors
        .col-lg-12
            form(class="form-horizontal", ng-submit="submit()")
                div(class="col-lg-4 form-group")
                    h4(class="h4", id="pcName2") {{ pcName.name }} continued...
                    label(class="label", for="airwayPlugging") {{ pcName.peribronchovascularComponent[2].name }}:
                    br
                    select(ng-model="airwayPlugging", class="form-control", id="airwayPlugging")
                        option {{ airwayPluggingName[1] | capitalize }}
                        option {{ airwayPluggingName[2] | capitalize }}
                        option {{ airwayPluggingName[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="airwayPluggingComment", placeholder="Comment...", id="airwayPluggingComment")

                    label(class="label", for="mosaicism") {{ pcName.peribronchovascularComponent[3].name }}:
                    br
                    select(ng-model="mosaicism", class="form-control", id="mosaicism")
                        option {{ mosaicismName[1] | capitalize }}
                        option {{ mosaicismName[2] | capitalize }}
                        option {{ mosaicismName[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="mosaicismComment", placeholder="Comment...", id="mosaicismComment")

                div(class="col-lg-4 form-group", id="middleCol2")
                    label(class="label", for="consolidation", id="consolidationLabel") {{ pcName.peribronchovascularComponent[4].name }}:
                    br
                    select(ng-model="consolidation", class="form-control", id="consolidation")
                        option {{ consolidationName[1] | capitalize }}
                        option {{ consolidationName[2] | capitalize }}
                        option {{ consolidationName[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="consolidationComment", placeholder="Comment...", id="consolidationComment")

                div(class="col-lg-3 form-group", id="endCol2")

                    h4(class="h4") {{ nodularAbnormalities.name }}
                    div(class="btn-group btn-group-lg")
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalities.present", ng-click="nodularAbnormalities.present = !nodularAbnormalities.present",
                        title="{{ nodularAbnormalities.present }}", data-original-titel="{{ nodularAbnormalities.present }}", data-toggle="tooltip",
                        data-placement="top", id="naButton", tooltip) {{ naName[1] | capitalize}}

                    br
                    div(class="form-group", ng-show="nodularAbnormalities.present")
                        label(class="label") {{ ifPresentNames[0] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalities.ifPresent.extensive", ng-click="nodularAbnormalities.ifPresent.extensive = !nodularAbnormalities.ifPresent.extensive",
                                title="{{ nodularAbnormalities.ifPresent.extensive }}", data-original-titel="{{ nodularAbnormalities.ifPresent.extensive }}", data-toggle="tooltip",
                                    data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[1] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalities.ifPresent.perilymphatic", ng-click="nodularAbnormalities.ifPresent.perilymphatic = !nodularAbnormalities.ifPresent.perilymphatic",
                                title="{{ nodularAbnormalities.ifPresent.perilymphatic }}", data-original-titel="{{ nodularAbnormalities.ifPresent.perilymphatic }}", data-toggle="tooltip",
                                    data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[2] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalities.ifPresent.centrilobular", ng-click="nodularAbnormalities.ifPresent.centrilobular = !nodularAbnormalities.ifPresent.centrilobular",
                                title="{{ nodularAbnormalities.ifPresent.centrilobular }}", data-original-titel="{{ nodularAbnormalities.ifPresent.centrilobular }}", data-toggle="tooltip",
                                    data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[3] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalities.ifPresent.treeInBud", ng-click="nodularAbnormalities.ifPresent.treeInBud = !nodularAbnormalities.ifPresent.treeInBud",
                                title="{{ nodularAbnormalities.ifPresent.treeInBud }}", data-original-titel="{{ nodularAbnormalities.ifPresent.treeInBud }}", data-toggle="tooltip",
                                    data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[4] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalities.ifPresent.fissural", ng-click="nodularAbnormalities.ifPresent.fissural = !nodularAbnormalities.ifPresent.fissural",
                                title="{{ nodularAbnormalities.ifPresent.fissural }}", data-original-titel="{{ nodularAbnormalities.ifPresent.fissural }}", data-toggle="tooltip",
                                    data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[3] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalities.ifPresent.random", ng-click="nodularAbnormalities.ifPresent.random = !nodularAbnormalities.ifPresent.random",
                                title="{{ nodularAbnormalities.ifPresent.random }}", data-original-titel="{{ nodularAbnormalities.ifPresent.random }}", data-toggle="tooltip",
                                    data-placement="top", tooltip) {{ naName[1] | capitalize}}

                //    label(class="label", for="") {{ pcName.peribronchovascularComponent[].name }}:
                //    br
                //    select(ng-model="", class="form-control", id="")
                //        option {{ Name[1] | capitalize }}
                //        option {{ Name[2] | capitalize }}
                //        option {{ Name[3] | capitalize }}
                //    textarea(class="form-control comment", ng-model=" Comment", placeholder="Comment...", id=" Comment")


                div(class="col-lg-1 form-group")
                    a(href="/descriptors3", class="form-control btn btn-success", id="submitSecondDescriptors")
                        span(class="glyphicon glyphicon-circle-arrow-right")
                    //button(type="submit", class="form-control btn btn-success", id="submitFirstDescriptors")
                    //    span(class="glyphicon glyphicon-circle-arrow-right")