//
   Created by rbwilliams on 30/06/2016.
.jumbotron
    .row
        .col-lg-12
            h2(class="h2") Descriptors
        .col-lg-12
            form(class="form-horizontal", ng-submit="submit()")
                div(class="col-lg-4 form-group")
                    h4(class="h4", id="pcName2") {{ data.descriptors[1].parenchymalDescriptors[3].name }} continued...
                    label(class="label") {{ names[2].name }}:
                    div(class="checkboxLabel")
                        input(type="checkbox", ng-model="airwayPluggingPresent", id="airwayPluggingPresent", ng-checked="airwayPluggingPresent")
                        | {{ airwayPluggingName[1] | capitalize }}
                        input(type="checkbox", ng-model="airwayPluggingSignificant", id="airwayPluggingSignificant", ng-checked="airwayPluggingSignificant")
                        | {{ airwayPluggingName[2] | capitalize }}
                        input(type="checkbox", ng-model="airwayPluggingNone", id="airwayPluggingNone", ng-checked="airwayPluggingNone")
                        | {{ airwayPluggingName[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="airwayPluggingComment", placeholder="Comment...", id="airwayPluggingComment")

                    label(class="label") {{ names[3].name }}:
                    div(class="checkboxLabel")
                        input(type="checkbox", ng-model="mosaicismPresent", id="mosaicismPresent", ng-checked="mosaicismPresent")
                        | {{ mosaicismName[1] | capitalize }}
                        input(type="checkbox", ng-model="mosaicismSignificant", id="mosaicismSignificant", ng-checked="mosaicismSignificant")
                        | {{ mosaicismName[2] | capitalize }}
                        input(type="checkbox", ng-model="mosaicismNone", id="mosaicismNone", ng-checked="mosaicismNone")
                        | {{ mosaicismName[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="mosaicismComment", placeholder="Comment...", id="mosaicismComment")

                div(class="col-lg-4 form-group", id="middleCol2")
                    label(class="label", id="consolidationLabel") {{ names[4].name }}:
                    div(class="checkboxLabel")
                        input(type="checkbox", ng-model="evidenceOfConsolidationPresent", id="evidenceOfConsolidationPresent", ng-checked="evidenceOfConsolidationPresent")
                        | {{ consolidationName[1] | capitalize }}
                        input(type="checkbox", ng-model="evidenceOfConsolidationSignificant", id="evidenceOfConsolidationSignificant", ng-checked="evidenceOfConsolidationSignificant")
                        | {{ consolidationName[2] | capitalize }}
                        input(type="checkbox", ng-model="evidenceOfConsolidationNone", id="evidenceOfConsolidationNone", ng-checked="evidenceOfConsolidationNone")
                        | {{ consolidationName[3] | capitalize }}
                    textarea(class="form-control comment", ng-model="evidenceOfConsolidationComment", placeholder="Comment...", id="evidenceOfConsolidationComment")

                div(class="col-lg-4 form-group", id="endCol2")
                    button(type="submit", class="form-control btn btn-success", id="submitSecondDescriptors")
                        span(class="glyphicon glyphicon-circle-arrow-right")
                    h4(class="h4") Nodular Abnormalities
                    div(class="btn-group btn-group-lg")
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalitiesPresent", ng-click="nodularAbnormalitiesPresent = !nodularAbnormalitiesPresent",
                                title="{{ nodularAbnormalitiesPresent }}", data-toggle="tooltip", data-placement="top", id="naButton",
                                    tooltip) {{ naName[1] | capitalize}}

                    br
                    div(class="form-group", ng-show="nodularAbnormalitiesPresent")
                        label(class="label") {{ ifPresentNames[0] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalitiesIfPresentExtensive",
                                ng-click="nodularAbnormalitiesIfPresentExtensive = !nodularAbnormalitiesIfPresentExtensive",
                                    title="{{ nodularAbnormalitiesIfPresentExtensive }}", data-toggle="tooltip",
                                        data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[1] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalitiesIfPresentPerilymphatic",
                                ng-click="nodularAbnormalitiesIfPresentPerilymphatic = !nodularAbnormalitiesIfPresentPerilymphatic",
                                    title="{{ nodularAbnormalitiesIfPresentPerilymphatic }}", data-toggle="tooltip",
                                        data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[2] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalitiesIfPresentCentrilobular",
                                ng-click="nodularAbnormalitiesIfPresentCentrilobular = !nodularAbnormalitiesIfPresentCentrilobular",
                                    title="{{ nodularAbnormalitiesIfPresentCentrilobular }}", data-toggle="tooltip",
                                        data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[3] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalitiesIfPresentTreeInBud",
                                ng-click="nodularAbnormalitiesIfPresentTreeInBud = !nodularAbnormalitiesIfPresentTreeInBud",
                                    title="{{ nodularAbnormalitiesIfPresentTreeInBud }}", data-toggle="tooltip",
                                        data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[4] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalitiesIfPresentFissural",
                                ng-click="nodularAbnormalitiesIfPresentFissural = !nodularAbnormalitiesIfPresentFissural",
                                    title="{{ nodularAbnormalitiesIfPresentFissural }}", data-toggle="tooltip",
                                        data-placement="top", tooltip) {{ naName[1] | capitalize}}
                        br
                        label(class="label") {{ ifPresentNames[3] | capitalize}}:
                        button(type="button", class="btn btn-default", ng-model="nodularAbnormalitiesIfPresentRandom",
                                ng-click="nodularAbnormalitiesIfPresentRandom = !nodularAbnormalitiesIfPresentRandom",
                                    title="{{ nodularAbnormalitiesIfPresentRandom }}", data-toggle="tooltip",
                                        data-placement="top", tooltip) {{ naName[1] | capitalize}}